/* page-container */
#page-container {position: relative; min-height: 100vh;}

/* content-wrap */
#content-wrap {padding-bottom: 40px;}

/* footer */
#footer {position: absolute; bottom: 0; width: 100%; height: 40px;}





/* Home.html.......................................................................................................*/

/* menu bar */
.nav-bar-color {background-color: #fff;}
.c2 strong {font-size: 50px;}
.c2 h2 {color: #500099; margin-left: -30px;}
.c2 ul {margin-right: -30px;}
.c2 ul li {padding-left: 30px;}
.c2 ul li.active a{color: #500099;}
.c2 ul li .underline {opacity: 0; border-bottom: 2px solid #500099;}
.c2 ul li.active .underline {opacity: 1;}
.c2 ul li a {color: #737373; font-size: 15px;}
.c2 ul li a:hover {color: #500099;}
.c2 ul .c2-vl {border-right: 1px solid #cdcdcd; margin: -5px 0px -5px 0px;}
.c2 .search-layout {margin-top: 2px; margin-left: 10px;}
.c2 ul .search-layout .s-align	{margin-top: 4px;}
.c2 .s-field {background-color: #f0f0f0; border: 1px solid #f0f0f0; padding: 8px 60px 7px 10px; margin-right: -36px; border-radius: 7px; outline: none; font-size: 13px;}
.c2 .s-field:hover {background-color: #fff; border: 1px solid #f0f0f0;}
.c2 .s-field:focus {background-color: #fff; border: 1px solid #f0f0f0;}
.c2 .s-btn {background-color: #500099; border: 1px solid #500099; border-radius: 0px 7px 7px 0px; padding: 4px 10px 5px 10px; outline: none;}
.c2 ul .Search-color {color: #fff; font-size: 15px;}
.c2 .fa-bars {font-size: 20px; color: rgba(48, 0, 77,0.7);}
.c2 .fa-bars:hover {color: #500099;}
.c2 .fa-bars:focus {box-shadow: none;}
.navbar {padding: 0px;}
.navbar-toggler:focus, .navbar-toggler:active {outline: none; box-shadow: none;}

/* first-page */
.c3 h1 {margin-top: 140px;}
.c3 h6 {margin-top: 50px;}
.c3 .first-page-align {padding-top: 80px;}

/* horizontal line */
.h1 {height: 3px; background-color: #f0f0f0; margin-top: 70px; width: 90%;}

/* Hot New Releases, Books Best Sellers, Recommended Books */
.c4 h3 {margin-top: 50px;}
.c4 p {font-size: 15px;}
.c4-card-align {margin-top: 10px;}
.c4 .carousel-control-prev {width: 3%; left: -35px; top: 9px;}
.c4 .carousel-control-next {width: 3%; right: -35px; top: 9px;}
.c4 .fa-chevron-circle-left {font-size: 40px; color: #500099;}
.c4 .fa-chevron-circle-right {font-size: 40px; color: #500099;}

/* card deck */
.btn-primary:focus {box-shadow: none;}
.btn-primary {background-color: rgba(48, 0, 77,0.8); border: none; color: #fff;}
.btn-primary:hover {background-color: #30004d; border-color: #30004d; color: #ffffff;}
.card {border-color: #d3d3d3; padding: 10px 10px 0px 10px;}
.card-body {padding: 20px 0px 20px 0px !important;}
.card-deck .card {margin-left: 5px !important; margin-right: 5px !important;}
.card-footer {background-color: #ffffff;}

/* card overlay */
.overlay-img {position: relative; width: 100%; background-color: #000;}
.middle {transition: .5s ease; opacity: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); text-align: center;}
.text {color: #ffffff; font-size: 16px;}
.overlay-img:hover .card-img {opacity: 0.5;}
.overlay-img:hover .middle { opacity: 1;}
.card-img {opacity: 1; display: block; width: 100%; height: auto; transition: .1s ease; backface-visibility: hidden; }

/* More Info */
.c7-r1 {margin-top: 60px;}
.c7-vl {border: 1px solid #f0f0f0; height: 100px; margin-top: 20px;}
.c7-align {margin-bottom: 40px;}
.c7-align h6 {padding-top: 30px; color: #575757;}
.c7-align small {color: #696969;}

/* Footer */
.c8 {background-color: #fff; /*margin-top: 60px; */ border-top: 1px solid #f0f0f0;}
.c8 .fa {font-weight: 100; font-size: 10px;}
.c8 small {color: #737373; font-size: 12px;}
.c8 ul li a {color: #737373; font-size: 12px;}
.c8 ul li a:hover {color: #500099;}
.c8 ul li {padding: 18px 20px 0px 0px;}
.c8-vl {border-left: 1px solid grey; height: 15px; margin-top: 20px;}
.c8-align h6 {padding-top: 30px;}

/* //Home.html......................................................................................................*/





/* categories.html.................................................................................................*/

/* categories-container */
.c3-categories a {font-size: 16px;}
.c3-categories .carousel-inner {margin-top: 50px;}
.c3-categories .btn-primary {background-color: #ffffff; border: 1px solid #500099; color: #500099;}
.c3-categories .btn-primary:hover {background-color: #500099; color: #ffffff;}
.c3-categories .btn-primary:focus {box-shadow: none;}
.c3-categories .carousel-control-prev {left: -40px; width: 4%; margin-top: -17px;}
.c3-categories .carousel-control-next {right: -40px; width: 4%; margin-top: -17px;}
.c3-categories .fa-chevron-left {font-size: 35px; color: #500099;}
.c3-categories .fa-chevron-right {font-size: 35px; color: #500099;}

/* horizontal line */
.h2 {height: 5px; background-color: #f0f0f0; margin-top: 30px;}

/* c4-nav-tab */
.c4-nav-tab {margin-bottom: 40px;}
.c4-nav-tab h3 {margin-top: 50px;}
.c4-nav-tab p {font-size: 15px;}
.c4-nav-tab .carousel-control-prev {width: 3%; left: -35px; top: 9px;}
.c4-nav-tab .carousel-control-next {width: 3%; right: -35px; top: 9px;}
.c4-nav-tab .fa-chevron-circle-left {font-size: 40px; color: #500099;}
.c4-nav-tab .fa-chevron-circle-right {font-size: 40px; color: #500099;}
.c4-nav-tab .nav-sticky {position: sticky; top: 80px; z-index: 1; background-color: #fff;}
.c4-nav-tab {margin-top: 40px;}
.c4-nav-tab .tab-pane {padding-top: 30px;}
.c4-nav-tab .nav-link {color: #000000;}
.c4-nav-tab .nav-tabs {border-top: 1px solid #fff; border-bottom: 1px solid #fff; border-right: 1px solid #fff;border-left: 1px solid #fff;}
.c4-nav-tab .nav-link:hover {border-top: 1px solid #fff; border-bottom: 1px solid #fff; border-right: 1px solid #fff;border-left: 1px solid #fff;}
.c4-nav-tab .nav-tabs .nav-link.active {color: #500099; border-bottom: 2px solid #500099; border-top: 1px solid #fff; border-right: 1px solid #fff; border-left: 1px solid #fff;}

/* //categories.html................................................................................................*/





/* authors.html....................................................................................................*/

/* c3-authors-container */
.c3-authors a {font-size: 16px;}
.c3-authors .carousel-inner {margin-top: 50px;}
.c3-authors .btn-primary {background-color: #ffffff; border: 1px solid #500099; color: #500099;}
.c3-authors .btn-primary:hover {background-color: #500099; color: #ffffff;}
.c3-authors .btn-primary:focus {box-shadow: none;}
.c3-authors .carousel-control-prev {left: -40px; width: 4%; margin-top: -17px;}
.c3-authors .carousel-control-next {right: -40px; width: 4%; margin-top: -17px;}
.c3-authors .fa-chevron-left {font-size: 35px; color: #500099;}
.c3-authors .fa-chevron-right {font-size: 35px; color: #500099;}

/* 4.Famous Authors' Books */
.c4-author-align {margin-top: 40px; margin-bottom: 40px;}
.c4-author-align p {font-size: 15px;}
.c4-card-deck-align {margin-top: 30px;}

/* //authors.html...................................................................................................*/





/* arts & music.html...............................................................................................*/

/* categories-container */
.c3-categories .btn-primary:not(:disabled):not(.disabled).active {background-color: #500099; border: 1px solid #500099;}

/* arts-music-breadcrumb */
.arts-music-breadcrumb .breadcrumb-item a {text-decoration: none; color: #500099;}
.arts-music-breadcrumb .breadcrumb-item.active {color: #737373;}
.arts-music-breadcrumb .breadcrumb {background-color: #fff; padding: 0rem;}
.arts-music-breadcrumb .breadcrumb-item+.breadcrumb-item::before {content: ">"; color: #500099;}

/* Arts & Music section */
.c5-arts-music {margin-bottom: 40px;}
.c5-arts-music a {font-size: 14px;}
.c5-arts-music p {font-size: 15px;}
.c5-arts-music h6 {font-size: 15px;}
.c5-arts-music small {font-size: 12px; color: #737373;}
.c5-arts-music .sidebar {background-color: #f9f9f9; padding: 15px 15px 15px 15px; position: sticky; top: 110px; margin-top: 30px;}
.c5-arts-music h5 {margin-left: -10px;}
.c5-arts-music .title-align {margin-top: 40px;}
.c5-arts-music .content-align {margin-top: -15px;}

/* col-1 */
.c5-arts-music ul.book-ul li a:hover {color: #500099;}
.c5-arts-music ul.book-ul li a:hover .book-arrow {color: #500099; opacity: 1;}
.c5-arts-music ul.book-ul li a {color: #737373;}
.c5-arts-music ul.book-ul li a .book-arrow {opacity: 0; margin-top: 8px; font-size: 12px;}

/* control */
.c5-arts-music .carousel-control-prev {width: 3%; left: -25px; top: 9px;}
.c5-arts-music .carousel-control-next {width: 3%; right: -25px; top: 9px;}
.c5-arts-music .fa-chevron-circle-left {font-size: 30px; color: #500099;}
.c5-arts-music .fa-chevron-circle-right {font-size: 30px; color: #500099;}

/* //arts & music.html..............................................................................................*/





/* music books.html................................................................................................*/

.c5-music-book {margin-bottom: 40px;}
.c5-music-book a {font-size: 14px;}
.c5-music-book p {font-size: 15px;}
.c5-music-book h6 {font-size: 15px;}
.c5-music-book small {font-size: 12px; color: #737373;}
.c5-music-book .sidebar {background-color: #f9f9f9; padding: 15px 15px 15px 15px; position: sticky; top: 90px;}
.c5-music-book h5 {margin-left: -10px;}
.c5-music-book .title-align {margin-top: 40px;}
.c5-music-book .content-align {margin-top: -15px;}

/* col-1 */
.c5-music-book ul.book-ul li a:hover {color: #500099;}
.c5-music-book ul.book-ul li a:hover .book-arrow {color: #500099; opacity: 1;}
.c5-music-book ul.book-ul li a {color: #737373;}
.c5-music-book ul.book-ul li a .book-arrow {opacity: 0; margin-top: 7.5px; font-size: 12px;}
.c5-music-book ul.book-ul li a.active {color: #500099;}
.c5-music-book ul.book-ul li a.active .book-arrow {opacity: 1;}

/* control */
.c5-music-book .carousel-control-prev {width: 3%; left: -35px; top: 9px;}
.c5-music-book .carousel-control-next {width: 3%; right: -35px; top: 9px;}
.c5-music-book .fa-chevron-circle-left {font-size: 40px; color: #500099;}
.c5-music-book .fa-chevron-circle-right {font-size: 40px; color: #500099;}

/* //music books.html...............................................................................................*/





/* william shake speare.html.......................................................................................*/

/* authors-container */
.c3-authors a.william-ss {background-color: #500099; border-color: #500099; color: #fff;}
.c3-authors .btn-primary:not(:disabled):not(.disabled).active {background-color: #500099; border: 1px solid #500099;}

/* pagination */
.page ul{margin: 50px 0px 40px 0px;}
.page ul li a {color: #500099;}
.page .page-item.active .page-link {color: #fff; background-color: #500099; border-color: #500099;}

/* //william shake speare.html......................................................................................*/






/* home-book details.html........................................................................................*/

.c3-book-details {border: 1px solid #500099; margin-top: 30px;}
.c3-book-details .fa-cart-plus {margin-right: 10px;}
.c3-book-details a.add-to-cart {font-size: 16px; background-color: #fff; color: #500099; border: 1px solid #500099;}
.c3-book-details a.purchase {font-size: 16px; background-color: #500099; color: #ffffff; border: 1px solid #500099; margin-top: 10px;}
.c3-book-details a.add-to-cart:hover {box-shadow: 0px 0px 5px #500099;}
.c3-book-details a.purchase:hover {box-shadow: 0px 0px 5px #500099;}
.c3-book-details a.btn-sm:focus {box-shadow: none;}
.c3-book-details .card {border: none;}
.c3-book-details small {font-size: 14px;}
.c3-book-details .book-content {margin-top: 10px;}
.c3-book-details .ReadMore-color {color: #500099;}

/* hb-breadcrumb */
.hb-breadcrumb {margin-top: 20px; margin-left: 55px;}
.hb-breadcrumb .breadcrumb-item a {text-decoration: none; color: #500099;}
.hb-breadcrumb .breadcrumb-item.active {color: #737373;}
.hb-breadcrumb .breadcrumb {background-color: #fff; padding: 0rem;}
.hb-breadcrumb .breadcrumb-item+.breadcrumb-item::before {content: ">"; color: #500099;}

/* 4. related books */
.c4-related-books p {font-size: 14px;}
.c4-related-books .Related-Books-align {margin-top: 50px; margin-left: -12px;}
.c4-related-books h3 {margin-bottom: 15px;}

/* 5. more by authors */
.c5-more-by-authors {margin-bottom: 40px;}
.c5-more-by-authors p {font-size: 15px;}
.c5-more-by-authors .Related-Books-align {margin-top: 50px; margin-left: -12px;}
.c5-more-by-authors h3 {margin-bottom: 15px;}

/* //home-book details.html.......................................................................................*/






/* iPad Pro (1024 * 1366)....................................................................................*/
@media (width: 1024px) {

	.c3-categories .btn-primary {font-size: 10px;}
	.c3-authors .btn-primary {font-size: 10px;}

	.c4 strong {font-size: 14px;}
	.c4-nav-tab p {font-size: 12px;}
	.c4-author-align strong {font-size: 14px;}

	.c5 strong {font-size: 14px;}
	.c5-arts-music h6 {font-size: 13px;}
	.c5-music-book p {font-size: 13px;}

	.c7-align small {font-size: 12px;}

}





/* iPad (768 * 1024)............................................................................................*/
@media (width: 768px) {

	.navbar-nav .nav-link {margin-left: -20px;}

	.hb-breadcrumb {margin-left: 15px;}

	.card-body {padding: 30px 0px 20px 0px !important; line-height: 18px;}
	.card-footer {padding: 10px 0px;}

	.c2 .s-field {padding: 4px 20px 4px 10px;}
	.c2 .s-btn {padding: 0px 8px 2px 8px;}
	.c2 ul li {padding-left: 25px;}
	.c2 .search-layout {margin-top: 5px; margin-left: 0px;}
	.c2 ul li.active .underline {margin-left: -20px;}

	.c3 h1 {font-size: 30px;}
	.c3 h6 {font-size: 13px;}
	.c3 h1 {margin-top: 70px;}
	.c3-categories .carousel-control-prev {left: -25px;}
	.c3-categories .carousel-control-next {right: -25px;}
	.c3-authors .carousel-control-prev {left: -26px;}
	.c3-authors .carousel-control-next {right: -26px;}
	.c3-book-details a.add-to-cart {font-size: 13px;}
	.c3-book-details a.purchase {font-size: 13px;}

	.c4 strong {font-size: 14px;}
	.c4 .carousel-control-prev {left: -26px;}
	.c4 .carousel-control-next {right: -26px;}
	.c4-nav-tab .carousel-control-prev {left: -26px;}
	.c4-nav-tab .carousel-control-next {right: -26px;}
	.c4-nav-tab strong {font-size: 14px;}
	.c4-nav-tab h4 {font-size: 20px;}
	.c4-author-align strong {font-size: 15px;}
	.c4-related-books strong {font-size: 15px;}

	.c5-more-by-authors strong {font-size: 15px;}
	.c5-arts-music strong {font-size: 14px;}
	.c5-arts-music .carousel-control-prev {left: -20px;}
	.c5-arts-music .carousel-control-next {right: -20px;}
	.c5-music-book strong {font-size: 13px;}

	.c7-align h6 {font-size: 15px;}
	.c7-align small {font-size: 8px;}

	.c8 small {font-size: 11px;}
	.c8 ul li {padding: 18px 12px 0px 0px;}

}





/* Mobile (less than euqal to 576px)...............................................................................................*/
@media (max-width: 575.98px) {

	.hb-breadcrumb {margin-left: -8px; font-size: 12px;}
	.arts-music-breadcrumb {font-size: 12px;}

	.card {padding: 5px 5px 0px 5px;}
	.card-deck .card {margin-left: 2px !important; margin-right: 2px !important; margin-bottom: 0px;}
	.card-deck {flex-flow: row wrap;} /*for showing card-deck in one row*/
	.card-body {padding: 10px 0px 15px 0px !important; line-height: 10px;}
	.card-footer {padding: 10px 0px;}

	.fa-chevron-left:before {color: #500099; font-size: 20px;}
	.carousel-control-prev {left: -10px !important;}
	.fa-chevron-right:before {color: #500099; font-size: 20px;}
	.carousel-control-next {right: -10px !important;}

	.list-inline-item:not(:last-child) {margin-right: 0px;}
	.btn-sm {padding: 5px 5px;}

	.c2 ul { background-color: #fafafa; margin-right: 0px; border-top: 1px solid #f0f0f0;}
	.c2 ul li .underline {border-bottom: none;}
	.c2 h2 {margin-left: 10px; font-size: 35px;}

	.c3 {margin-top: 50px;}
	.c3 h1 {font-size: 28px; margin-top: 30px;}
	.c3 h6 {font-size: 10px; margin-top: 15px;}
	.c3 .search-layout {margin-top: 50px;}
	.c3 .search-layout .s-align	{margin-top: 4px;}
	.c3 .s-field {background-color: #f0f0f0; border: 1px solid #f0f0f0; padding: 8px 65px 7px 20px; margin-right: -36px; border-radius: 7px; outline: none; font-size: 13px;}
	.c3 .s-field:hover {background-color: #fff; border: 1px solid #f0f0f0;}
	.c3 .s-field:focus {background-color: #fff; border: 1px solid #f0f0f0;}
	.c3 .s-btn {background-color: #500099; border: 1px solid #500099; border-radius: 0px 7px 7px 0px; padding: 4px 10px 5px 10px; outline: none;}
	.c3 .Search-color {color: #fff; font-size: 15px;}
	.c3-categories a {font-size: 11px;}
	.c3-categories ul {margin-bottom: 0px;}
	.c3-categories .carousel-control-prev {margin-top: -15px;}
	.c3-categories .carousel-control-next {margin-top: -15px;}
	.c3-book-details h3 {font-size: 15px;}
	.c3-book-details h5 {font-size: 15px; margin-top: -30px;}
	.c3-book-details small {font-size: 10px;}
	.c3-book-details p {font-size: 10px; line-height: 17px;}
	.c3-book-details a.add-to-cart {font-size: 7px; padding: 3px 3px;}
	.c3-book-details a.purchase {font-size: 7px; padding: 3px 3px;}
	.c3-book-details .col-3 {padding: 0px;}
	.c3-book-details .col-9 {padding: 0px 9px 0px 15px;}
	.c3-book-details .small-height {line-height: 15px; margin-top: -10px;}
	.c3-book-details .a {line-height: 20px;}
	
	.c4-nav-tab {margin-top: 20px;}
	.c4-nav-tab h4 {font-size: 9px; margin: 8px 0px;}
	.c4-nav-tab .nav-link {padding: 0px 0px;}
	.c4-nav-tab .c4-tab-size {padding: 0px 5px;}
	.c4-nav-tab .container-fluid {padding: 0px 0px;}
	.c4-nav-tab strong {font-size: 11px;}
	.c4-nav-tab .card-deck .card {margin-left: 2px !important; margin-right: 2px !important; margin-bottom: 15px;}
	.c4-nav-tab .c5-card-align {margin-top: -5px;}

	.h1 {margin-top: 45px;}

	.c4 {margin-bottom: 40px;}
	.c4 .carousel-control-prev {left: -10px !important;}
	.c4 .carousel-control-next {right: -10px !important;}
	.c4 h5 {margin-top: 35px; margin-left: 16px;}
	.c4 strong {font-size: 10px;}
	.c4-author-align {padding: 0px 0px; margin-top: 30px;}
	.c4-author-align h3 {font-size: 18px;}
	.c4-author-align strong {font-size: 11px;}
	.c4-author-align .FAB-size {padding: 0px 5px;}
	.c4-author-align .card-deck {margin-top: 10px;}
	.c4-author-align .card-deck .card {margin-left: 2px !important; margin-right: 2px !important;}
	.c4-author-align .c4-card-deck-1-align {margin-top: 25px;}

	.arts-music-mobile {padding: 0px 0px; margin-top: -10px;}
	.arts-music-mobile h3 {font-size: 18px;}
	.arts-music-mobile strong {font-size: 11px;}
	.arts-music-mobile .FAB-size {padding: 0px 0px;}
	.arts-music-mobile .card-deck {margin-top: 10px;}
	.arts-music-mobile .card-deck .card {margin-left: 2px !important; margin-right: 2px !important;}
	.arts-music-mobile .c4-card-deck-1-align {margin-top: 25px;}

	.c5-card-align {margin-top: 5px;}

	.c7-align h6 {font-size: 9px; padding: 10px 0px 0px 0px;}
	.c7-align small {font-size: 7px;}
	.c7-r1 {margin-top: 40px;}
	.c7-r2 {margin-top: 20px;}
	.c7-vl {border: 0.8px solid #f0f0f0; height: 80px; margin-top: 15px;}
	.title {margin-bottom: 0px;}

	.c8 small {font-size: 10px; padding-bottom: 15px;}
	.c8 ul li a {font-size: 9px;}
	.c8 ul li {padding: 0px; margin-top: 5px;}
	.c8 ul li.c8-vl {border: 0.5px solid grey; height: 8px;}
	.c8 .fa {font-weight: 100; font-size: 7px;}
	.c8 .list-inline-item:not(:last-child) {margin-right: 8px;}

}